@import "tailwindcss";

@plugin '@tailwindcss/typography';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  scroll-behavior: smooth !important;
}

html {
  @apply bg-gray-900;
}

.prose code:not(pre > code) {
  @apply px-1.5 py-1 text-slate-200 rounded-sm bg-gray-800;
}

.prose pre {
  @apply !bg-gray-800/40 !text-white border border-white/5;
}

.prose code:not(pre > code)::before,
.prose code:not(pre > code)::after {
  @apply hidden;
}

.prose p:is(blockquote > p)::before,
.prose p:is(blockquote > p)::after {
  @apply hidden;
}

/* html, */
.stable {
  scrollbar-gutter: stable;
}

.file {
  @apply mb-3 text-slate-400;
}

html :has(.body-overflow-hidden) {
  @apply overflow-hidden;
}

/* width */
::-webkit-scrollbar {
  @apply size-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-zinc-800 rounded-sm;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 rounded-sm;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
